################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MarsRoverProject/obj
/MarsRoverProject/bin/Debug/net8.0
/MarsRoverProject/.vs/MarsRoverProject
